footer {
    padding: 3rem 0;
    background-color: $color__primary;
    color: white;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: $color__highlight;
        }
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;

        & > * {
            &:first-child {
                @include breakpoint-down(large) {
                    display: none;
                }
            }
        }
    }

}