.content {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2rem;
}

.learn-more,
.join-us {
    display: inline-block;
    border-radius: 16px;
    font-family: $font__paragraph;
    font-size: 26px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .3s ease;

    @include breakpoint-down(medium) {
        font-size: 18px;
    }
}

.join-us {
	background: $color__highlight;
    color: white;

    @include breakpoint-up(medium) {
        margin-right: 1rem;
    }

    &:hover {
        background: lighten($color__highlight, 10%);
    }
}

.learn-more {
    color: $color__highlight;
    background: white;

    &:hover {
        background: lighten($color__highlight, 10%);
        color: white;
    }
}

.star {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: .7;
    transition: transform .6s ease;
    z-index: 1 !important;

    &.scale {
        transform: scale(1.7);
        opacity: 1;
    }
}
