.hero {
	height: 80vh;
	width: 100vw;
	background-color: $color__primary2;

	&__content {
		display: flex;
		justify-content: space-between;
		padding-top: 20vh;
		height: 100%;
	}

	&__text {
        color: $color__font;

        p {
            font-size: 26px;
        }
	}
}
