$color__primary: #100F16;
$color__accent: #1C1B22;
$color__highlight: #4C2499;
$color__grey: #565360;
$color__text: #F2F5F5;


$length__small1: 0.25rem;
$length__small2: 0.375rem;
$length__small3: 0.5rem;

$length__medium1: 1rem;
$length__medium2: 1.25rem;
$length__medium3: 1.5rem;

$length__large1: 2rem;
$length__large2: 3rem;
$length__large3: 4rem;

$width__content: 1440px;
$width__text: 860px;

$font__headline: 'Montserrat';
$font__paragraph: 'Roboto';
