.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;

    @include breakpoint-down(medium) {
        
        height: 100%;
    }

    & > img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        height: 100vh;
        width: 100%;
        z-index: -1;

        @include breakpoint-down(medium) {
            height: 100%;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: rgba(16, 15, 22, 0.9);

        @include breakpoint-down(medium) {
            padding-top: $length__large2;
            padding-bottom: $length__large2;
        }
    }

    &__text {
        text-align: center;
        width: 100%;
        max-width: $width__content;

        @include breakpoint-down(medium) {
            padding: 0 2rem;
        }

        h1 {
            margin-top: 0;
            margin-bottom: $length__large1;
            font-weight: 400;
            font-size: 38px;

            @include breakpoint-down(medium) {
                font-size: 18px;
            }
        }

        p {
            font-size: 64px;
            line-height: 68px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: $length__large3;
            font-family: $font__headline;

            @include breakpoint-down(medium) {
                font-size: 32px;
                line-height: 36px;
                margin-bottom: $length__large1;
            }
        }
    }
}
