.image-text {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-down(medium) {
        flex-direction: column-reverse;
    }

    &.reverse {
        flex-direction: row-reverse;

        @include breakpoint-down(medium) {
            flex-direction: column-reverse;
        }
    }

    & > * {
        width: 50%;

        @include breakpoint-down(medium) {
            width: 100%;
        }
    }

    .image {
        background-color:$color__highlight;
        // min-height: 500px;
        background-position: center center;
        background-size: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        background-color: $color__primary;
        
        p, li {
            font-size: 18px;
        }
    }
}