.infobox {
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    &__content {
        padding: 10rem 0;
        text-align: center;
        max-width: $width__text;

        @include breakpoint-down(medium) {
            padding: 5rem 0;
        }

        .content__text {
            font-size: 38px;
            line-height: 42px;
            font-weight: bold;
            margin-bottom: $length__medium3;
            font-family: $font__headline;

            @include breakpoint-down(medium) {
                font-size: 32px;
                line-height: 36px;
            }
        }
    }
}