.quote {
    background-color: $color__primary;
    padding: $length__large3 0;

    h2 {
        text-align: center;
        margin-bottom: $length__large2;
    }

    &__container {
        display: flex;
        max-width: $width__text;
        width: 100%;
        padding: 1rem 2rem;
        margin: 0 auto;
        background-color: $color__highlight;
        border-radius: 16px;

        @include breakpoint-down(small) {
            flex-direction: column;
        }
    }

    &__image {
    }

    &__text {
        padding: 1rem 5rem 1rem 0;
        text-align: center;
        

        @include breakpoint-down(small) {
            width: 100%;
            padding: 1rem 0;
        }

        .text__text {
            margin-bottom: $length__large1;
            font-size: 20px;
        }

        .text__author {
            font-size: 18px;
            color: #f2f5f588;
        }

        .text__icon {
            display: flex;
            justify-content: center;
            height: 30px;
            opacity: .2;
            margin-bottom: 1rem;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}