.video {
    padding: 8rem 0 10rem 0;
    text-align: center;

    @include breakpoint-down(medium) {
        padding: 4rem 1rem;
    }

    &__container {
        margin: 0 auto;
        max-width: $width__text;
    }

    &__iframe {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        margin-bottom: $length__medium2;
    }
    p {
        margin-bottom: $length__large2;
    }

    
}
